registry=http://dragonballs.dev.mail.ru:6666
@qa:registry=http://dragonballs.dev.mail.ru:6666
@types:registry=http://dragonballs.dev.mail.ru:6666
@paradigm:registry=http://dragonballs.dev.mail.ru:6666

package-lock=false
save-exact=true
unsafe-perm=true
